{% extends 'base.html.twig' %}

{% block title %}Author: {{ name }}{% endblock %}

{% block body %}
    <h1>Author: {{ name }}</h1>
    <p>This is the profile page for {{ name }}.</p>
{% endblock %}

