<!Doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <title> Service Page </title>
</head>
<body>

{{ constant('Twig\\Environment::VERSION') }}

    <h1> Service: {{name}} </h1>
</body>

</html>